body{
    height: 58em;
    width: 100%;
    border:3px solid blue;
    position: relative;
}
main{
   height: 100%;
   width: 100%; 
   border: 2px solid red;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    vertical-align: center;
   }
#form{
    margin-top: 20%;

}


#title{
    background: rgba(1, 13, 123, 0.371);
    border: 1px solid black
}
#insub{
    display: grid;
    grid-template-columns: 60% 40%;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    background: rgba(7, 31, 44, 0.123);
}
div input{  
    text-align: center;
    background: rgba(7, 31, 44, 0.123);
    border-radius: 15px;   
    border: 1px transparent rgba(7, 31, 44, 0.123);
}
#newTask{
    border-radius:  12px;
    height: 80%;
    width: 80%;
    vertical-align: middle;
    margin: auto auto auto auto;
    
}
#newTask:hover{
    background-color: black;
    color: white;

}


div{
    height: 5em;
    width: 45em;
   /* border: 1px solid black;
    /*position: relative;
    top:10%;
    left:50%;
    transform: translate(-50%, -50%);*/
    text-align: center;
    border-radius: 15px;
}
#tasks{
    min-height: 5em;
    border: none;
    
    
}
.tarea{
    display: grid;
    grid-template-columns: 80% 20%;
    overflow-wrap: normal;
    height: max-content;
    /*background-color: blue;*/


}
.tarea:nth-child(even) {
    background: rgba(7, 31, 44, 0.123);
  }
  .tarea:nth-child(odd) {
    background: rgba(1, 13, 123, 0.371);
  }

#internalButton{
    border-radius: 12px;
    height: 4em;
    width: 80%;
    margin:auto auto auto auto;
    
}
#internalButton:hover{
    background-color: black;
    color: white;

}
