body{
    height: 58em;
    width: 100%;
    border:3px solid blue;
    position: relative;
}
main{
   height: 100%;
   width: 100%; 
   border: 2px solid red;

   }

div{
    height: 5em;
    width: 20em;
    border: 2px solid black;
    position: relative;
    top:10%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#tasks{
    min-height: 5em;
    border: none;
    display:inline-flex;

}
.tarea{
display: grid;
grid-template-columns: 80% 20%;

}
